<form (ngSubmit)="onSubmit(product)">
    <select class="select-input" name="quantity" [(ngModel)]="selectedQuantity" (click)="resetLabel()" (ngModelChange)="setQuantity(product, $event)">
        <option value="0">Quantity</option>
        <option *ngFor="let quantityOpt of productQuantityOptions; let i=index" value="{{i + 1}}">
            {{i + 1}}
        </option>
    </select><br>
    <button type="submit" *ngIf="showAddButton" class="btn btn-primary add-to-cart">{{buttonLabel}}</button>
</form>