.header {
  text-align: center;
  background: #33B5E5;
  color: #fff;
  padding: 12px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

a {
  display: inline-block;
  margin: 5px;
  color: #ffffff;
}

.items-in-cart-message {
  display: inline;
  font-size: 14px;
  font-weight: bold;
  background-color: #fff;
  padding: 5px 25px;
  color: #33B5E5;
}