<div class="confirmation-container">
    <div class="confirmation-items">
        <h2 class="confirmation-header confirmation-item">Success!!</h2>
        <p class="confirmation-item">Thank you <b>{{name}}</b></p>
        <p class="confirmation-item">Your order <b>{{orderPrice}}€</b> is confirmed.</p>
        <p class="confirmation-item">You will receieve an email with shipping details and tracking.</p>
        <a class="confirmation-item btn btn-primary" routerLink="/">Back to List of Products</a>
    </div>
</div>
